# vim: set filetype=config:
# ANSIBLE-MANAGED CONFIGURATION FILE
# Note: for options and their values, use "bat --help"

# at CLI, use "bat --list-themes"
--theme="{{ highlighting_theme_name }}"

# show line numbers, git modifications and file header (but no grid)
--style="numbers,changes,header"

